In [1]:
print(2+1)

3

In [38]:
a="hello world"

In [10]:
a

"i'm"

In [7]:
a[5]

IndexError: string index out of range

In [8]:
a[0:0]

''

In [20]:
a[0:2]

'jj'

In [23]:
a.count('lo')

1

In [40]:
a.find('l') #my first comment

2

In [41]:
a[0:3].find('e')

1

In [42]:
a=[1,2,3,'yo',True]

In [43]:
a[4]

True

In [44]:
type(a[3])

str

In [45]:
a[1:]

[2, 3, 'yo', True]

In [46]:
a[0:4:2]

[1, 3]

In [47]:
a[::-1]

[True, 'yo', 3, 2, 1]

In [48]:
s="awesome streak"

In [49]:
a[::-1]

[True, 'yo', 3, 2, 1]

In [50]:
s[::-1]

'kaerts emosewa'

In [51]:
a[0:3][::-1]

[3, 2, 1]

In [52]:
a[0:3:-1]

[]

In [53]:
a[4::-1]

[True, 'yo', 3, 2, 1]

In [54]:
a[2::-1]

[3, 2, 1]

In [55]:
a.index(3)

2

In [56]:
a.index(99)

ValueError: 99 is not in list

In [57]:
s1="abcd"

In [70]:
s2="wxyq"

In [71]:
user="g"

In [72]:
ui=s1.find(user)

s2[ui]

In [73]:
s2[ui]

'q'

##

In [74]:
s2[-2]

'y'

In [76]:
s="hello"
if s=="hello":
    print("yoyo")
else:
    print("single yo")

yoyo

In [77]:
user="ab"s1.find(user)

SyntaxError: invalid syntax (<ipython-input-77-b95f75ed3395>, line 1)

In [78]:
user="ab"
s1.find(user)

0

In [79]:
for item in user:
    print(item)

a
b

In [86]:
s2
user="ba"
out=""
for item in user:
    out=out+s2[s1.find(item)]
print(out)

xw

In [82]:
s2

'wxyq'

In [87]:
def f1(s1,s2):
    print(s1)
    print(s2)
    print(s1+s2)

In [88]:
f1("hello", "world")

hello
world
helloworld

In [89]:
s3="hello"

In [90]:
s3+"world"

'helloworld'

In [91]:
print(s3)

hello

In [96]:
d={'a':1,'b':2,'s':"hello",6:4, "marks":[1,2,3,4,5]}

In [97]:
type(d)

dict

In [99]:
e={'a':1,'b':2}
for item in e:
    print(e[item])

1
2

In [101]:
import pandas

In [106]:
pandas.DataFrame({'a':[1,2],'b':[3,4]})

   a  b
0  1  3
1  2  4

In [107]:
df =pandas.DataFrame({'a':[1,2],'b':[3,4]})

In [108]:
len(df)

2

In [109]:
df

   a  b
0  1  3
1  2  4

In [110]:
import pandas as pd

In [195]:
df = pd.read_csv("physician_rx.csv")

In [196]:
df.head(8) # by default 5

   PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0
5  AP3674571       70.0           40              0         64           0
6  AP0126982        0.0          135              0          0           0
7        NaN      150.0          315            270        184          36

In [197]:
df.tail()

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
95  AP1957774      390.0           15              0         16          36
96  AP1273998      480.0          630              0          0           0
97  AP1228990        0.0            0              0          0         180
98  AP1881803        0.0           10              0          0           0
99  AP4772804       10.0            0              0          0           0

In [198]:
df.shape

(100, 6)

In [199]:
df.columns

Index(['PHYSICIAN', 'CroMax_RX', 'GlycoMax_RX', 'AllergyMax_RX', 'FevMax_RX',
       'ColdMax_RX'],
      dtype='object')

In [200]:
df.dtypes

PHYSICIAN         object
CroMax_RX        float64
GlycoMax_RX        int64
AllergyMax_RX      int64
FevMax_RX          int64
ColdMax_RX         int64
dtype: object

In [201]:
s="s"

In [202]:
type(s)

str

In [203]:
df[["PHYSICIAN","AllergyMax_RX"]][0:4] # df can only accept one parameter so we have given list of parameters and slower than loc and iloc

   PHYSICIAN  AllergyMax_RX
0  AP1912920            510
1  AP1350415             60
2  AP0129322              0
3  AP0462902              0

In [204]:
df.loc[0:4, ["PHYSICIAN","AllergyMax_RX"]] # loc works on label

   PHYSICIAN  AllergyMax_RX
0  AP1912920            510
1  AP1350415             60
2  AP0129322              0
3  AP0462902              0
4  AP3185026           1080

In [205]:
df.iloc[0:4, [0,3]] #iloc works as index

   PHYSICIAN  AllergyMax_RX
0  AP1912920            510
1  AP1350415             60
2  AP0129322              0
3  AP0462902              0

In [206]:
df.iloc[0:4, 0:3]

   PHYSICIAN  CroMax_RX  GlycoMax_RX
0  AP1912920        0.0           50
1  AP1350415     2370.0         1320
2  AP0129322        0.0           85
3  AP0462902       30.0          570

In [207]:
df[df["CroMax_RX"]>2000]

   PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
1  AP1350415     2370.0         1320             60       1416        2676

In [208]:
u_df = df[df["CroMax_RX"]>50]
u_df[u_df["GlycoMax_RX"]>50]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
1   AP1350415     2370.0         1320             60       1416        2676
7         NaN      150.0          315            270        184          36
10  AP1934892      640.0          390              0        280           0
14        NaN       90.0          150              0          0         204
16  AP0036951      330.0          525              0          0           0
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
26        NaN      150.0          220            510         32        1128
29  AP0089696      930.0          250           3435          0         396
31  AP0692473       90.0          215            375          0         348
40  AP0438309      370.0           85              0          0         780
42  AP1326350       80.0          250            690        128          48
53  AP1976314      170.0          495              0        200          24
55  AP3632706      140.0          380            165         32           0
56  AP1871832      140.0          345              0          0          36
57  AP0092627     1360.0         1090            210         24         192
59  AP1815618      140.0          110              0         24           0
64  AP0093884       80.0           65           1365          0           0
67  AP0476079       80.0           70             75          0           0
68  AP1822470      120.0          330           1200          0         504
71  AP0118925      160.0          375              0        240           0
74  AP1869077     1830.0          140              0        488          72
76  AP1230067      110.0           70              0          0           0
79  AP1336198      150.0          615              0          0           0
82  AP1834639      270.0         1240             60         40          60
85  AP0478796      630.0          240            150          0          96
87  AP2459335      320.0          320              0        256          12
89  AP0433841      120.0           65              0          0           0
96  AP1273998      480.0          630              0          0           0

In [209]:
df[(df["CroMax_RX"]>50) & (df["GlycoMax_RX"]>50)]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
1   AP1350415     2370.0         1320             60       1416        2676
7         NaN      150.0          315            270        184          36
10  AP1934892      640.0          390              0        280           0
14        NaN       90.0          150              0          0         204
16  AP0036951      330.0          525              0          0           0
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
26        NaN      150.0          220            510         32        1128
29  AP0089696      930.0          250           3435          0         396
31  AP0692473       90.0          215            375          0         348
40  AP0438309      370.0           85              0          0         780
42  AP1326350       80.0          250            690        128          48
53  AP1976314      170.0          495              0        200          24
55  AP3632706      140.0          380            165         32           0
56  AP1871832      140.0          345              0          0          36
57  AP0092627     1360.0         1090            210         24         192
59  AP1815618      140.0          110              0         24           0
64  AP0093884       80.0           65           1365          0           0
67  AP0476079       80.0           70             75          0           0
68  AP1822470      120.0          330           1200          0         504
71  AP0118925      160.0          375              0        240           0
74  AP1869077     1830.0          140              0        488          72
76  AP1230067      110.0           70              0          0           0
79  AP1336198      150.0          615              0          0           0
82  AP1834639      270.0         1240             60         40          60
85  AP0478796      630.0          240            150          0          96
87  AP2459335      320.0          320              0        256          12
89  AP0433841      120.0           65              0          0           0
96  AP1273998      480.0          630              0          0           0

In [210]:
len(df[(df["CroMax_RX"]>50) & (df["GlycoMax_RX"]>50)]["PHYSICIAN"])

30

In [211]:
df.iloc[0,0]

'AP1912920'

In [212]:
df.iloc[0:1,0:1]

   PHYSICIAN
0  AP1912920

In [213]:
df.iat[0,0] # Prefered to select single cell(fastest way to select)

'AP1912920'

In [214]:
df.at[0,"PHYSICIAN"]

'AP1912920'

In [215]:
df.isnull().sum()

PHYSICIAN        4
CroMax_RX        4
GlycoMax_RX      0
AllergyMax_RX    0
FevMax_RX        0
ColdMax_RX       0
dtype: int64

In [216]:
df[df["CroMax_RX"].isnull()]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
33  AP0464297        NaN          405              0          0          36
48  AP1948690        NaN          105            690          8           0
65  AP2102094        NaN          220              0        432         216
88  AP0812453        NaN           45              0          0         264

In [217]:
df["CroMax_RX"] = df["CroMax_RX"].fillna(0) # filling null values to default values that is 0

In [218]:
df[df["CroMax_RX"].isnull()]

Empty DataFrame
Columns: [PHYSICIAN, CroMax_RX, GlycoMax_RX, AllergyMax_RX, FevMax_RX, ColdMax_RX]
Index: []

In [219]:
df.isnull().sum()

PHYSICIAN        4
CroMax_RX        0
GlycoMax_RX      0
AllergyMax_RX    0
FevMax_RX        0
ColdMax_RX       0
dtype: int64

In [220]:
df = df.dropna()

In [221]:
df.isnull().sum()

PHYSICIAN        0
CroMax_RX        0
GlycoMax_RX      0
AllergyMax_RX    0
FevMax_RX        0
ColdMax_RX       0
dtype: int64

In [222]:
len(df)

96

In [223]:
df.columns = ['PHYS', 'CroMax_RX', 'GlycoMax_RX', 'AllergyMax_RX', 'FevMax_RX',
       'ColdMax_RX'] # rename a column

In [224]:
df.head()

        PHYS  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [225]:
df =df.rename(columns={'PHYS':'physician'})

In [226]:
df.head()

   physician  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [227]:
"hello world".replace("l","z")

'hezzo worzd'

In [228]:
df.columns =df.columns.str.replace("_",".")

In [229]:
df.head()

   physician  CroMax.RX  GlycoMax.RX  AllergyMax.RX  FevMax.RX  ColdMax.RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [232]:
df["physician"] = df["physician"].str.replace("AP","AB")

In [233]:
df.head()

   physician  CroMax.RX  GlycoMax.RX  AllergyMax.RX  FevMax.RX  ColdMax.RX
0  AB1912920        0.0           50            510        152           0
1  AB1350415     2370.0         1320             60       1416        2676
2  AB0129322        0.0           85              0          0         144
3  AB0462902       30.0          570              0        128        3900
4  AB3185026        0.0           40           1080          0           0

In [249]:
df["BUCKET"] = "B1"

In [250]:
df.head()

,physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,BUCKET
0,AB1912920,0.0,50,510,152,0,B1
1,AB1350415,2370.0,1320,60,1416,2676,B1
2,AB0129322,0.0,85,0,0,144,B1
3,AB0462902,30.0,570,0,128,3900,B1
4,AB3185026,0.0,40,1080,0,0,B1

In [251]:
df[df["CroMax.RX"]>50]["BUCKET"] ="B2"

C:\Users\Loveshant\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [252]:
df.head()

,physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,BUCKET
0,AB1912920,0.0,50,510,152,0,B1
1,AB1350415,2370.0,1320,60,1416,2676,B1
2,AB0129322,0.0,85,0,0,144,B1
3,AB0462902,30.0,570,0,128,3900,B1
4,AB3185026,0.0,40,1080,0,0,B1

In [258]:
df.loc[(df["CroMax.RX"]>50) & (df["GlycoMax.RX"]>50), "BUCKET"] = "B2"

In [259]:
df.head()

,physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,BUCKET,bucket
0,AB1912920,0.0,50,510,152,0,B1,NaN
1,AB1350415,2370.0,1320,60,1416,2676,B2,B2
2,AB0129322,0.0,85,0,0,144,B1,NaN
3,AB0462902,30.0,570,0,128,3900,B1,NaN
4,AB3185026,0.0,40,1080,0,0,B1,NaN

In [264]:
df["new_physician"] = df["BUCKET"]+"_"+df["physician"]

In [265]:
df.head()

,physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,BUCKET,bucket,new_physician
0,AB1912920,0.0,50,510,152,0,B1,NaN,B1_AB1912920
1,AB1350415,2370.0,1320,60,1416,2676,B2,B2,B2_AB1350415
2,AB0129322,0.0,85,0,0,144,B1,NaN,B1_AB0129322
3,AB0462902,30.0,570,0,128,3900,B1,NaN,B1_AB0462902
4,AB3185026,0.0,40,1080,0,0,B1,NaN,B1_AB3185026

In [266]:
df.columns

Index(['physician', 'CroMax.RX', 'GlycoMax.RX', 'AllergyMax.RX', 'FevMax.RX',
       'ColdMax.RX', 'BUCKET', 'bucket', 'new_physician'],
      dtype='object')

In [271]:
df = df[['new_physician', 'CroMax.RX', 'GlycoMax.RX', 'AllergyMax.RX', 'FevMax.RX',
       'ColdMax.RX']] # Rearranging the columns and assigning it to same data frame

In [272]:
df.head()

  new_physician  CroMax.RX  GlycoMax.RX  AllergyMax.RX  FevMax.RX  ColdMax.RX
0  B1_AB1912920        0.0           50            510        152           0
1  B2_AB1350415     2370.0         1320             60       1416        2676
2  B1_AB0129322        0.0           85              0          0         144
3  B1_AB0462902       30.0          570              0        128        3900
4  B1_AB3185026        0.0           40           1080          0           0

In [274]:
"hello_world".split("_")

['hello', 'world']

In [282]:
df["bucket"] = df["new_physician"].str.split("_").str[0]

In [283]:
df["physician"] = df["new_physician"].str.split("_").str[1]

In [284]:
df.head()

,new_physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket,physician
0,B1_AB1912920,0.0,50,510,152,0,B1,AB1912920
1,B2_AB1350415,2370.0,1320,60,1416,2676,B2,AB1350415
2,B1_AB0129322,0.0,85,0,0,144,B1,AB0129322
3,B1_AB0462902,30.0,570,0,128,3900,B1,AB0462902
4,B1_AB3185026,0.0,40,1080,0,0,B1,AB3185026

In [285]:
df.columns

Index(['new_physician', 'CroMax.RX', 'GlycoMax.RX', 'AllergyMax.RX',
       'FevMax.RX', 'ColdMax.RX', 'bucket', 'physician'],
      dtype='object')

In [286]:
df=df[['physician','CroMax.RX', 'GlycoMax.RX', 'AllergyMax.RX',
       'FevMax.RX', 'ColdMax.RX', 'bucket' ]]

In [287]:
df.head()

,physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket
0,AB1912920,0.0,50,510,152,0,B1
1,AB1350415,2370.0,1320,60,1416,2676,B2
2,AB0129322,0.0,85,0,0,144,B1
3,AB0462902,30.0,570,0,128,3900,B1
4,AB3185026,0.0,40,1080,0,0,B1